{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	{{ form_errors(registrationForm) }}

	<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
		<div class="sm:mx-auto sm:w-full sm:max-w-md">
			<img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Votre entreprise">
			<h2 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Inscrivez-vous</h2>
		</div>

		<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
			<div class="bg-white px-6 py-12 shadow-sm sm:rounded-lg sm:px-12">
				{{ form_start(registrationForm) }}
				<div>
					<label for="email" class="block text-sm/6 font-medium text-gray-900">Adresse e-mail</label>
					<div class="">
						<input type="email" name="{{ field_name(registrationForm.email) }}" value="{{ field_value(registrationForm.email) }}" placeholder="{{ field_label(registrationForm.email) }}" id="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
					</div>
				</div>

				<div>
					<label for="firstName" class="block text-sm/6 font-medium text-gray-900 mt-2">Prénom</label>
					<div class="">
						<input type="firstName" name="{{ field_name(registrationForm.firstName) }}" value="{{ field_value(registrationForm.firstName) }}" placeholder="{{ field_label(registrationForm.firstName) }}" id="firstName" autocomplete="firstName" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
					</div>
				</div>

				<div>
					<label for="lastName" class="block text-sm/6 font-medium text-gray-900 mt-2">Nom</label>
					<div class="">
						<input type="lastName" name="{{ field_name(registrationForm.lastName) }}" value="{{ field_value(registrationForm.lastName) }}" placeholder="{{ field_label(registrationForm.lastName) }}" id="lastName" autocomplete="lastName" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
					</div>
				</div>

				<div>
					<label for="password" class="block text-sm/6 font-medium text-gray-900 mt-2">Mot de passe</label>
					<div class="">
						<input type="password" name="{{ field_name(registrationForm.plainPassword) }}" value="{{ field_value(registrationForm.plainPassword) }}" placeholder="{{ field_label(registrationForm.plainPassword) }}" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
					</div>
				</div>

				<div class="flex items-center justify-between mt-4">
					<div class="flex gap-3">
						{{ form_row(registrationForm.agreeTerms) }}
					</div>
				</div>

				<div>
					<button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-2">S'inscrire</button>
				</div>
				{{ form_end(registrationForm) }}

				<div>
					<div class="relative mt-5">
						<div class="absolute inset-0 flex items-center" aria-hidden="true">
							<div class="w-full border-t border-gray-200"></div>
						</div>
						<div class="relative flex justify-center text-sm/6 font-medium">
							<span class="bg-white px-6 text-gray-900">Ou inscrivez-vous avec</span>
						</div>
					</div>

					<div class="mt-6 grid gap-4">
						<a href="{{ path('connect_google') }}" class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 focus-visible:ring-transparent">
							<svg class="h-5 w-5" viewbox="0 0 24 24" aria-hidden="true">
								<path d="M12.0003 4.75C13.7703 4.75 15.3553 5.36002 16.6053 6.54998L20.0303 3.125C17.9502 1.19 15.2353 0 12.0003 0C7.31028 0 3.25527 2.69 1.28027 6.60998L5.27028 9.70498C6.21525 6.86002 8.87028 4.75 12.0003 4.75Z" fill="#EA4335"/>
								<path d="M23.49 12.275C23.49 11.49 23.415 10.73 23.3 10H12V14.51H18.47C18.18 15.99 17.34 17.25 16.08 18.1L19.945 21.1C22.2 19.01 23.49 15.92 23.49 12.275Z" fill="#4285F4"/>
								<path d="M5.26498 14.2949C5.02498 13.5699 4.88501 12.7999 4.88501 11.9999C4.88501 11.1999 5.01998 10.4299 5.26498 9.7049L1.275 6.60986C0.46 8.22986 0 10.0599 0 11.9999C0 13.9399 0.46 15.7699 1.28 17.3899L5.26498 14.2949Z" fill="#FBBC05"/>
								<path d="M12.0004 24.0001C15.2404 24.0001 17.9654 22.935 19.9454 21.095L16.0804 18.095C15.0054 18.82 13.6204 19.245 12.0004 19.245C8.8704 19.245 6.21537 17.135 5.2654 14.29L1.27539 17.385C3.25539 21.31 7.3104 24.0001 12.0004 24.0001Z" fill="#34A853"/>
							</svg>
							<span class="text-sm/6 font-semibold">Google</span>
						</a>
					</div>
				</div>
			</div>
			<p class="mt-10 text-center text-sm/6 text-gray-500">
				Déjà un compte ?
				<a href="{{ path('app_login') }}" class="font-medium text-indigo-600 hover:text-indigo-500">Se connecter</a>
			</p>
		</div>
	</div>
{% endblock %}
