{{ form_start(form) }}
<div class="space-y-12">
	<div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12">
		<div>
			<h1 class="text-2xl font-semibold text-gray-900 text-center mt-4">Informations sur votre nouvelle publication</h1>
		</div>

		<div class="grid max-w-2xl w-full grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2 m-auto">
			<div class="sm:col-span-full">
				<label for="image" class="block text-sm/6 font-medium text-gray-900">Image</label>
				<div class="mt-2">
					<label for="image" class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed border-gray-300 rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
						<div class="flex flex-col items-center justify-center pt-5 pb-6">
							<svg class="w-10 h-10 mb-3 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V4m0 0l5 5m-5-5l5-5M17 16v-1a2 2 0 00-2-2H9a2 2 0 00-2 2v1"/>
							</svg>
							<p class="mb-2 text-sm text-gray-500">
								<span class="font-semibold">Cliquez pour uploader</span>
								ou faites glisser et déposer
							</p>
							<p class="text-xs text-gray-500">PNG, JPG, GIF (MAX. 800x400px)</p>
							{% if social_post is defined and social_post.id %}
								{% if social_post.image %}
									<p class="text-xs text-gray-500">Votre image actuelle :
										{{social_post.image}}</p>
								{% endif %}
							{% endif %}
						</div>
						<input id="image" name="{{ field_name(form.image) }}" type="file" accept="image/*" class="hidden">
					</label>
				</div>
			</div>
			<div class="sm:col-span-full">
				<label for="title" class="block text-sm/6 font-medium text-gray-900">Title</label>
				<div class="mt-2">
					<input id="title" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" placeholder="{{ field_label(form.title) }}" type="text" autocomplete="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
				</div>
			</div>

			<div class="col-span-full">
				<label for="content" class="block text-sm/6 font-medium text-gray-900">Content</label>
				<div class="mt-2">
					<textarea id="content" name="{{ field_name(form.content) }}" value="{{ field_value(form.content) }}" placeholder="{{ field_label(form.content) }}" type="text" autocomplete="name" class="block w-full h-28 rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
{% if social_post is defined and social_post.id %}
	<div class="mt-6 flex items-center justify-end gap-x-3 max-w-2xl m-auto">
		<a href="{{ path('app_social_post_show', {'id': social_post.id}) }}" class="text-sm/6 font-semibold text-gray-900">Cancel</a>
		<button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
			{{ button_label|default('Save') }}
		</button>
	</div>
{% else %}
	<div class="mt-6 flex items-center justify-end gap-x-6 max-w-2xl m-auto">
		<a href="{{ path('app_social_post_index')}}" class="text-sm/6 font-semibold text-gray-900">Cancel</a>
		<button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
			{{ button_label|default('Create') }}
		</button>
	</div>
{% endif %}

{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
