{{ form_start(form) }}
<div class="space-y-12">
	<div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12">
		<div>
			<h1 class="text-2xl font-semibold text-gray-900 text-center mt-4">Informations sur votre nouvelle publication</h1>
		</div>

		<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2 m-auto">
			<div class="sm:col-span-full">
				<label for="image" class="block text-sm/6 font-medium text-gray-900">Image</label>
				<div class="mt-2">
					<input id="image" name="{{ field_name(form.image) }}" value="{{ field_value(form.image) }}" placeholder="{{ field_label(form.image) }}" type="text" autocomplete="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
				</div>
			</div>
			<div class="sm:col-span-full">
				<label for="title" class="block text-sm/6 font-medium text-gray-900">Title</label>
				<div class="mt-2">
					<input id="title" name="{{ field_name(form.title) }}" value="{{ field_value(form.title) }}" placeholder="{{ field_label(form.title) }}" type="text" autocomplete="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
				</div>
			</div>

			<div class="sm:col-span-2">
				<label for="content" class="block text-sm/6 font-medium text-gray-900">Content</label>
				<div class="mt-2">
					<input id="content" name="{{ field_name(form.content) }}" value="{{ field_value(form.content) }}" placeholder="{{ field_label(form.content) }}" type="text" autocomplete="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 border">
				</div>
			</div>
		</div>
	</div>
</div>
<button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
    {{ button_label|default('Create') }}
</button>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

{# {% if wardrobe_item is defined and wardrobe_item.id %}
    <div class="mt-6 flex items-center justify-end gap-x-6 max-w-2xl m-auto">
        <a href="{{ path('app_wardrobe_item_show', {'id': wardrobe_item.id}) }}" class="text-sm/6 font-semibold text-gray-900">Cancel</a>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            {{ button_label|default('Save') }}
        </button>
		{{ include('wardrobe_item/_delete_form.html.twig') }}
    </div>
{% else %}
    <div class="mt-6 flex items-center justify-end gap-x-6 max-w-2xl m-auto">
		<a href="{{ path('app_wardrobe_item_index')}}" class="text-sm/6 font-semibold text-gray-900">Cancel</a>
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            {{ button_label|default('Create') }}
        </button>
    </div>
{% endif %} #}
