{% extends 'base.html.twig' %}

{% block title %}SocialPost{% endblock %}

{% block body %}
    <h1>SocialPost</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ social_post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ social_post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ social_post.content }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ social_post.image }}</td>
            </tr>
            <tr>
                <th>Likes_count</th>
                <td>{{ social_post.likesCount }}</td>
            </tr>
            <tr>
                <th>Comments_count</th>
                <td>{{ social_post.commentsCount }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ social_post.createdAt ? social_post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ social_post.updatedAt ? social_post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_social_post_index') }}">back to list</a>

    <a href="{{ path('app_social_post_edit', {'id': social_post.id}) }}">edit</a>

    {{ include('social_post/_delete_form.html.twig') }}
{% endblock %}
