{% extends 'base.html.twig' %}

{% block title %}Outfit index{% endblock %}

{% block body %}
    <h1>Outfit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Occasion</th>
                <th>Season</th>
                <th>Image</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>IsPublic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outfit in outfits %}
            <tr>
                <td>{{ outfit.id }}</td>
                <td>{{ outfit.name }}</td>
                <td>{{ outfit.description }}</td>
                <td>{{ outfit.occasion }}</td>
                <td>{{ outfit.season.value }}</td>
                <td>{{ outfit.image }}</td>
                <td>{{ outfit.createdAt ? outfit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ outfit.updatedAt ? outfit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ outfit.isPublic ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_outfit_show', {'id': outfit.id}) }}">show</a>
                    <a href="{{ path('app_outfit_edit', {'id': outfit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_outfit_new') }}">Create new</a>
{% endblock %}
